.header {
    padding: 0.5rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.852);
}

.headerLeft {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

a>span {
    margin: 0 30px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
}

a>span:hover {
    color: #F6C700;
}

.header_icon {
    width: 80px;
    cursor: pointer;
}

.Menu_toggle {
    display: none;
}

@media (max-width: 575.98px) {
    .Menu_toggle {
        display: block;
    }

    .menu_links {
        display: none;
        position: absolute;
        top: 60px;
        left: 0px;
        right: 0px;

    }

    .menu_links_expanded {
        display: block;
        position: absolute;
        top: 60px;
        left: 0px;
        right: 0px;
    }

    .menu_links span,
    .menu_links_expanded span {
        display: block;
        padding: 20px 0;
        text-align: center;
        margin: 0;
        transition: 2000;
        background-color: rgba(0, 0, 0, 0.904);
        width: 100%;
    }
}